
 <ion-list-header>
  <strong>Menu</strong>
</ion-list-header>
  <ion-item>
    
    <ion-menu-toggle>
      <ion-item detail="true" [routerLink]="['/home']">
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-item>

  <ion-menu-toggle *ngif="rol == admin">
    <ion-item  detail="true" [routerLink]="['/registro']">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle *ngif="login == false">            
    <ion-item  detail="true" [routerLink]="['/login']">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle *ngif="login == false">
    <ion-item  detail="true" [routerLink]="['/dashboard']">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle >
    <ion-item  detail="true" (click)="exit()">
     <ion-icon name="exit-outline"></ion-icon>
     <ion-label>Salir</ion-label>
   </ion-item>
  </ion-menu-toggle>
  
  
