<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Te Llevo App 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item class="ion-text-center">
  <h5>Bienvenido</h5>
  <hr>
  <ion-thumbnail>
    <img src="https://static.vecteezy.com/system/resources/previews/000/623/448/non_2x/auto-car-logo-template-vector-icon.jpg" />
  </ion-thumbnail>
</ion-item>
<ion-content class="auth-form">
  <ion-card >
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">Registrarse</ion-button>
        <hr>
        <span class="divider line one-line"> o </span>

        <span class="already" >¿ya estas registrado ?</span>
        <hr>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar Sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
</ion-content>